# pixi environments
.pixi/
!.pixi/config.toml
pixi.lock
# Added by cargo
Cargo.lock
# 编译产物
/target/
**/*.so
**/*.dll
**/*.dylib
**/*.pyc
__pycache__/
*.egg-info/

# Python 虚拟环境
.venv/
uv.lock
.env/
.python-version

# IDE 文件
.vscode/
.idea/
*.swp
# pixi environments
.pixi/*
!.pixi/config.toml

# test file
*.ipynb
